@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-back-color: #1e1e1e;
  --color-main-red: #fd0100;
  --color-main-orange: #fe6408;
  --color-main-yellow: #fffd01;
  --color-kupchino: #0087bf;
  --color-shushari: #8e479e;
}

@font-face {
  font-family: 'Balkara Condensed';
  src: url('/font/BalkaraFreeCondensed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: 'Balkara Condensed', sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-back-color);
  color: white
}